[submodule "app/assets/javascripts/snap-byob"]
	path = app/assets/javascripts/snap-byob
	url = https://github.com/simonhock/Snap--Build-Your-Own-Blocks.git
[submodule "lib/assets/javascripts/snap-byob"]
	path = lib/assets/javascripts/snap-byob
	url = https://github.com/simonhock/Snap--Build-Your-Own-Blocks.git
