[submodule "lib/assets/snap-byob"]
	path = lib/assets/snap-byob
	url = git@github.com:snap-school/Snap--Build-Your-Own-Blocks.git
[submodule "lib/assets/javascripts/snap-byob"]
	path = lib/assets/javascripts/snap-byob
	url = git@github.com:snap-school/Snap--Build-Your-Own-Blocks.git
