%h1= @title

-sort_tag = {}

%table.table.table-striped.table-bordered.table-hover{sort_tag}
  %thead
    %tr
      %th Title
      %th Description
      -if user_signed_in? and current_user.has_role?(:admin)
        %th
        %th
        %th
  %tbody
    = render @missions, from_chapter: true, chapter_from: @chapter, disabled: @disabled_from

-if user_signed_in? and current_user.has_role?(:admin)
  %p
    = button "Nouvelle mission", new_mission_path, type: :success
    = button "Ajouter une mission", new_chapter_mission_path(@chapter), type: :success
