%h1 Listing file_missions

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Mission
      %th File
      %th
      %th
      %th

  %tbody
    = render @file_missions

%br

= link_to 'New File mission', new_file_mission_path
