%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Fichier
      %th
      %th
      %th

  %tbody
    = render @file_missions

%br

= button 'Nouveau fichier de mission', new_file_mission_path, type: :success
