%p
  %b Mission:
  = @file_mission.mission
%p
  %b Fichier:
  = @file_mission.file

= button "Editer", edit_file_mission_path(@file_mission), :type=>:success,
          :class => "tbn btn-primary"
= button "Retour", :back
