%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Mission
      %th Utilisateur
      -if user_signed_in? and (current_user.try(:has_role?, :admin) or current_user.try(:has_role?, :teacher))
        %th
  %tbody
    = render @programs

-if user_signed_in? and current_user.try(:has_role?, :admin)
  %p
    = button "Nouveau programme", new_program_path, type: :success
