%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Mission
      -if user_signed_in? and current_user.has_role?(:admin)
        %th Utilisateur
        %th
  %tbody
    = render @programs

-if user_signed_in? and current_user.has_role?(:admin)
  %p
    = button "Nouveau programme", new_program_path, type: :success
