%h1 Listing programs

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Mission
      -if user_signed_in? and current_user.has_role?(:admin)
        %th Source code
        %th Utilisateur
        %th
        %th
  %tbody
    = render @programs

-if user_signed_in? and current_user.has_role?(:admin)
  %p
    = link_to 'New Program', new_program_path
