%h1 Listing programs

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Source code
      %th Utilisateur
      %th Mission
      %th
      %th
      %th
  %tbody
    = render @programs

%br

= link_to 'New Program', new_program_path
