%canvas#world{style: "position: absolute;", tabindex: "1", "data-file"=>@program.source_code.url}

.modal.fade#missionModal{tabindex: -1, role: :dialog, "aria-hidden"=>true, "data-remote"=>mission_path(@program.mission, :modal=>true)}
  .modal-dialog
    .modal-content
      .modal-body
        Chargement...
      .modal-footer
        %button.btn.btn-default{type: :button, "data-dismiss"=>:modal}
          Fermer
