%canvas#world{style: "position: absolute;", tabindex: "1", "data-file"=>@program.source_code}

%div{:style=>"display: none;visibility: hidden;"}
  = render "form", :program=>@program

  = image_tag("snap-byob/snap_logo_sm.png", :id=>"snap-logo")
  = image_tag("snap-byob/scriptsPaneTexture.gif", :id=>"snap-texture")
