%canvas#world{style: "position: absolute;", tabindex: "1", "data-file"=>@program.source_code}

%div{:style=>"display: none;visibility: hidden;"}
  = image_tag asset_path "snap-byob/Costumes/dog2-a.png"
  = image_tag("snap-byob/scriptsPaneTexture.gif", :id=>"snap-texture")
