%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Prénom
      %th Nom
      %th Email
      %th
      %th
      -if current_user.try(:has_role?, :admin)
        %th
        %th
  %tbody
    = render @users

%p
  = button "Créer un utilisateur", new_user_path, type: :success
