%h1 Listing users

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Firstname
      %th Lastname
      %th Email
      %th
      %th
      %th
  %tbody
    = render @users

%br

= link_to 'New User', new_user_path
