%h1= @title

-sort_tag = {}

%table.table.table-striped.table-bordered.table-hover{sort_tag}
  %thead
    %tr
      %th Title
      %th Description
      -if user_signed_in? and current_user.has_role?(:admin)
        %th
        %th
        %th
  %tbody
    = render @chapters, from_course: true, course_from: @course, current_user: current_user

-if user_signed_in? and current_user.has_role?(:admin)
  %p
    = button "Nouveau chapitre", new_chapter_path, type: :success
    = button "Ajouter un chapitre", new_course_chapter_path(@course), type: :success
