%h1 Qui sommes nous ?

%h2 Le projet
%p Ce site est le résultat d'un mémoire en informatique d'étudiants de Université Catholique de Louvain. Ce projet a pour but d'aider l'apprentissage de la programmation aux enfants en leur fournissant un ensemble d'exercices ludiques.

%h2 L'équipe
%p
  Nous sommes deux étudiants ingénieur civil en informatique :
  %br
  Gaëtan Collart et Simon Claessens
%p
  Nous avons été chapeauté pas nos promoteurs :
  %br
  Chantal Poncin et Pierre Schaus

%h2 Les influences
%p
  Nous remercions principalement le projet
  =link_to "Snap - BYOB", "http://snap.berkeley.edu/"
  qui nous a fournis la base de travail.
%p
  Nous avons aussi bénéficier de différents logiciels libres tout au long de notre mémoire tel que :
  %ul
    %li Ruby on Rails
    %li Cucumber
    %li OpenShot
    %li ...
%p
  Mais aussi différents services :
  %ul
    %li Github
    %li Travis
    %li CodeCoverage
    %li railsbp
    %li CodeClimate
    %li ...
%h2 Le mot de la fin
%p
  Ce site et tout ce qu'il contient est disponible à l'adresse suivante :
  =link_to "https://github.com/snap-school", "https://github.com/snap-school"
