.jumbotron
  %h1 Merci d'avoir participé!
%p
  Si tu veux bien, remplis le formulaire de fin d'activité:
  =link_to "Vers le formulaire !", after_missions_form_home_index_path, :class=>"btn-lg btn-primary"
