%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Nom
      -if user_signed_in? and current_user.try(:has_role?,:admin)
        %th Utilisateur
        %th
      %th
  %tbody
    = render @projects

-if user_signed_in?
  %p
    = button "Nouveau projet", new_project_path, type: :success
