%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr Nom
    %tr
    %tr
      -if user_signed_in? and current_user.has_role?(:admin)
        %th Code source
        %th Utilisateur
        %th
  %tbody
    = render @projects

-if user_signed_in? and current_user.has_role?(:admin)
  %p
    = button "Nouveau projet", new_project_path, type: :success
