-if current_user.try(:has_role?, :admin)
  - role = "TEACHER"
-else
  - role = "STUDENT"

%canvas#world{style: "position: absolute;", tabindex: "1", "data-file"=>@project.source_code.url, "data-role"=>role}
