%h1= @title

%p
  = raw @course.description
%br
  =button "Voir les chapitres", course_chapters_path(@course), type: :primary
%br
%p
  -if current_user.try(:has_role?, :admin)
    =button "Modifier", edit_course_path(@course), :type=>:success
    =button "Ajouter un chapitre", new_course_chapter_path(@course), :type=>:success
  =button "Retour", :back
