%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Titre
      %th Description
      -if user_signed_in? and (current_user.try(:has_role?,:admin) or current_user.has_role?(:teacher)) and not @add_chapter
        %th
        %th
        %th
      -elsif @add_chapter
        %th
  %tbody
    = render @chapters, from_course: @from_course, course: @course

-if user_signed_in? and (current_user.try(:has_role?,:admin) or current_user.try(:has_role?,:teacher))
  %p
    = button "Nouveau chapitre", new_chapter_path, type: :success
