%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Title
      %th Description
      -if user_signed_in? and current_user.has_role?(:admin) and not @from_chapter
        %th
        %th
        %th
      -elsif @add_mission
        %th
  %tbody
    = render @missions

-if user_signed_in? and current_user.has_role?(:admin)
  %p
    = button "Nouvelle mission", new_mission_path, type: :success
