%h1= @title

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Titre
      %th Description
      -if user_signed_in? and (current_user.try(:has_role?, :admin) || current_user.try(:has_role?, :teacher)) and not @add_mission
        %th
        %th
        %th
      -elsif @add_mission
        %th
  %tbody
    = render @missions

-if user_signed_in? and (current_user.try(:has_role?, :admin) || current_user.try(:has_role?, :teacher))
  %p
    = button "Nouvelle mission", new_mission_path, type: :success
