%h1 Listing missions

-sort_tag = {}
-if user_signed_in? and current_user.has_role?(:admin)
  -sort_tag = {:id=>:sortable}

%table.table.table-striped.table-bordered.table-hover{sort_tag}
  %thead
    %tr
      %th N°
      %th Title
      %th Description
      -if user_signed_in? and current_user.has_role?(:admin)
        %th Source code
        %th
        %th
  %tbody
    = render @missions

-if user_signed_in? and current_user.has_role?(:admin)
  %p
    = link_to 'New Mission', new_mission_path
