%h1= @title

-sort_tag = {}
-if user_signed_in? and current_user.has_role?(:admin) and not @from_chapter
  -sort_tag = {:id=>:sortable}

%table.table.table-striped.table-bordered.table-hover{sort_tag}
  %thead
    %tr
      %th N°
      %th Title
      %th Description
      -if user_signed_in? and current_user.has_role?(:admin)
        -if not @from_chapter
          %th
          %th
          %th
  %tbody
    = render @missions, from_chapter: @from_chapter, chapter_from: @chapter_from, disabled: @disabled_from

-if user_signed_in? and current_user.has_role?(:admin)
  %p
    = button "Nouvelle mission", new_mission_path, type: :success
