%h1 Listing missions

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Title
      %th Description
      %th Source code
      -if user_signed_in? and current_user.has_role?(:admin)
        %th
        %th
  %tbody
    = render @missions

%br

= link_to 'New Mission', new_mission_path
