%h1
  Mission :
  = @mission.title

-if @mission.youtube?
  %iframe#ytplayer.center-block{:type=>"text/html", :width=>854, :height=>480, :src=>"https://www.youtube.com/embed/#{@mission.youtube}?autoplay=1&hd=1&vq=hd720", :frameborder=>0}

%p
  = raw @mission.description

%br
%p
  =button "Réaliser cette mission", new_initialization_program_mission_path(:mission_id=>@mission), :type=>:success, :id=>"mission-program"
%p
  -if user_signed_in? and current_user.has_role?(:admin)
    =button "Code source", @mission.source_code.url, :type=>:primary
    =button 'modifier', edit_mission_path(@mission), :type=>:success
    =button 'modifier le programme', mission_program_path(@mission), :type=>:success
  =button 'Retour', :back
