.navbar.navbar-default.navbar-fixed-top.navbar-inverse
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "RSnap", root_path, :class=>"navbar-brand"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{:class=>resources_active("missions")}
          = link_to "Missions", missions_path
        %li{:class=>actions_active("home", "after_missions_form")}
          = link_to "formulaire", after_missions_form_home_index_path
        %li{:class=>actions_active("home", "about")}
          = link_to "Qui sommes-nous ?", about_home_index_path

      .nav.navbar-nav.navbar-right
        =render "layouts/user_menu"
