%meta{charset: "utf-8"}
%meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
%meta{content: "RSnap", name: "description"}
%meta{content: "Gaetan Collart, Simon Claessens ", name: "author"}

%meta{:name=>"google-site-verification", :content=>"f-kgMazTnpAPHIHLZfzQbpZBaUjj5himQ2m1pWqUgfQ"}

= favicon_link_tag "snap_logo_sm.png"
%title=title
= csrf_meta_tags
