!!!
%html{lang: "fr"}
  %head
    = render "layouts/meta", :title=>@title

    = stylesheet_link_tag    "application", media: "all"#, "data-turbolinks-track" => true
    = javascript_include_tag "snap_application"#, "data-turbolinks-track" => true

  %body{style: "margin: 0;"}
    = yield
